##########################
# Orfmap data            #
##########################
orfmap/data/*

##########################
# Python complied source #
##########################
*\.pyc
*\.pyo
build/
dist/
doc/_build/

*\__pycache__
