##########################
# Orfmap data            #
##########################
orfmap/data/*
orfmap/check_cds*


##########################
# Python compiled source #
##########################
*\.pyc
*\.pyo
build/
dist/
doc/_build/

**__pycache__**



################# 
# pycharm files #
#################
\.idea
